html, body{
	height:100%;
}

body{
	color:#333;
	font-family: 'Noto Sans', sans-serif;
}

#page-wrap{
	min-height: 100%;
}

main{
	overflow: auto;
	padding-bottom: 20px;
}
input{
	color:#333;
}

a{
	color:#91BAFF;
}

a:hover{
	color:#4086FC;
	text-decoration: none;
}

.display-type{
	font-family: 'Merriweather', serif;
	font-weight:400;
}

.navbar{
	background: #91BAFF;
	border-radius: 0px;
	color:#FFF;
}

	.navbar a{
		color:#FFF;
	}

	.navbar a:hover{
		color:#FFF;
	}

.round-input{
	display: flex;
}
	.round-input input:focus{
		outline:0;
	}

	.round-input input{
		height:40px;
		border:none;
		border:1px solid #F4F4F4;
	}

	.round-input input[type="text"],
	.round-input input[type="email"]{
		padding-left: 15px;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		width: 80%;
	}

	.round-input input[type="submit"]{
		color: #4086FC;
		background:#F4F4F4;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
		width: 20%;
	}

footer{
	color:#91BAFF;
	height:100px;
	background:#333;
	position: relative;
	clear:both;
}