html, body{
	height:100%;
}

body{
	color:#FFF;
	background:#91BAFF;
	font-family: 'Noto Sans', sans-serif;
}

#page-wrap{
	min-height: 100%;
}

input{
	color:#333;
}

a{
	color:#FFF;
}

a:hover{
	color:#4086FC;
	text-decoration: none;
}

.display-type{
	font-family: 'Merriweather', serif;
	font-weight:400;
}

.jumbotron{
	color:#FFF;
	background: #91BAFF;
}

	#homepage-jumbo{
		padding-top: 1rem;
	}

		#homepage-jumbo #logo{
			height:10rem;
		}

.response-card{
	display: flex;
	flex-direction:column;
	background:#FFFFFF;
	color:#333;
	border:1px solid #4086FC;
	overflow: hidden;
}

.round-input{
	display: flex;
}
	.round-input input:focus{
		outline:0;
	}

	.round-input input{
		height:40px;
		border:none;
	}

	.round-input input[type="text"],
	.round-input input[type="email"]{
		padding-left: 15px;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		width: 80%;
	}

	.round-input input[type="submit"]{
		color: #4086FC;
		background:#F1F1F1;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
		width: 20%;
	}

	.round-input.border input{
		border-bottom: 1px solid #F1F1F1;
		border-top:1px solid #F1F1F1;
	}

	.round-input.border input[type="text"]{
		border-left:1px solid #F1F1F1;
	}

	.round-input.border input[type="email"]{
		border-right:1px solid #F1F1F1;
	}

footer{
	color:#91BAFF;
	height:100px;
	background:#333;
	position: relative;
	clear:both;
}